body {
  font-size: 15px;
  font-family: "Roboto Condensed", Arial, Verdana, sans-serif;
  color: #666;
  background-color: #ebebeb;
}

a:focus,
button:focus {
  outline: 0;
}

.thumbnails {
  border: solid 1px #e0e0e0;
  margin: 5px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.thumbnails .car-pic img {
  width: auto;
  max-height: 200px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.title,
.btn {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.car-features {
  list-style: none;
  padding-left: 2px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.car-features li {
  font-size: 14px;
  text-align: left;
  color: #666;
  margin: 0 0 6px;
  vertical-align: middle;
  width: 50%;
}

.car-features-icons {
  position: relative;
  padding-left: 25px;
  height: 20px;
  display: inline-block;
}

.car-features-icons::before {
  content: "";
  width: 22px;
  height: 20px;
  display: block;
  overflow: hidden;
  background: transparent url(./icons.png) no-repeat 0 50%;
  position: absolute;
  left: 0;
  top: 0px;
}

.car-features-icons.seats::before {
  background-position: -149px 50%;
}

.car-features-icons.transmission::before {
  background-position: -50px 50%;
}

.car-features-icons.doors::before {
  background-position: -200px 50%;
}

.car-features-icons.suitcases::before {
  background-position: -299px 50%;
}

.car-features-icons.bags::before {
  background-position: -348px 50%;
}
